blue-kafka/src/main/resources/META-INF/kafka.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xsd:schema xmlns="http://blue.com/schema/kafka"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://blue.com/schema/kafka"
            elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<xsd:import namespace="http://www.springframework.org/schema/beans" />

	<xsd:element name="producer">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:ID" use="required" />
			<xsd:attribute name="ref-config" type="xsd:string" use="required" />
			<xsd:attribute name="ref-producer-listener" type="xsd:string" use="optional" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="consumer">
		<xsd:complexType>
			<xsd:choice minOccurs="1" maxOccurs="unbounded">
				<xsd:element ref="listener" />
			</xsd:choice>
			<xsd:attribute name="id" type="xsd:ID" use="required" />
			<xsd:attribute name="ref-config" type="xsd:string" use="required" />
			<xsd:attribute name="ref-exception-handler" type="xsd:string" use="optional" />
			<xsd:attribute name="ref-task-executor" type="xsd:string" use="optional" />
			<xsd:attribute name="ref-offset-manager" type="xsd:string" use="optional" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="listener">
		<xsd:complexType>
			<xsd:attribute name="topic" type="xsd:string" use="required" />
			<xsd:attribute name="ref-listener" type="xsd:string" use="required" />
			<xsd:attribute name="count" type="xsd:positiveInteger" default="1" />
			<xsd:attribute name="group" type="xsd:string" use="optional" />
			<xsd:attribute name="duration" type="xsd:positiveInteger" default="1000" />
			<xsd:attribute name="multi-thread" type="xsd:boolean" default="true" />
			<xsd:attribute name="ref-task-executor" type="xsd:string" use="optional" />
			<xsd:attribute name="ref-exception-handler" type="xsd:string" use="optional" />
			<xsd:attribute name="ref-offset-manager" type="xsd:string" use="optional" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="memory-offset-manager">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:ID" use="required" />
		</xsd:complexType>
	</xsd:element>
	
</xsd:schema>