blue-redis/src/main/resources/META-INF/redis.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xsd:schema xmlns="http://blue.com/schema/redis"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            xmlns:beans="http://www.springframework.org/schema/beans"
            targetNamespace="http://blue.com/schema/redis"
            elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<xsd:import namespace="http://www.springframework.org/schema/beans" />
	
	<xsd:element name="fastjson-codec">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:ID" use="required" />
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="producer">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:ID" use="required" />
			<xsd:attribute name="ref-redisson" type="xsd:string" use="required" />
			<xsd:attribute name="ref-producer-listener" type="xsd:string" use="optional" />
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="listener-container">
		<xsd:complexType>
			<xsd:choice minOccurs="1" maxOccurs="unbounded">
				<xsd:element ref="listener" />
			</xsd:choice>
			<xsd:attribute name="id" type="xsd:ID" use="required" />
			<xsd:attribute name="ref-redisson" type="xsd:string" use="required" />
			<xsd:attribute name="ref-exception-handler" type="xsd:string" use="optional" />
			<xsd:attribute name="ref-task-executor" type="xsd:string" use="optional" />
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="listener">
		<xsd:complexType>
			<xsd:attribute name="topic" type="xsd:string" use="required" />
			<xsd:attribute name="multi-thread" type="xsd:boolean" default="true" />
			<xsd:attribute name="ref-listener" type="xsd:string" use="required" />
			<xsd:attribute name="ref-task-executor" type="xsd:string" use="optional" />
			<xsd:attribute name="ref-exception-handler" type="xsd:string" use="optional" />
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="lock-service">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:ID" use="required" />
			<xsd:attribute name="ref-redisson" type="xsd:string" use="required" />
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="atomic-sequence">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:ID" use="required" />
			<xsd:attribute name="ref-redisson" type="xsd:string" use="required" />
			<xsd:attribute name="key" type="xsd:string" use="required" />
			<xsd:attribute name="length" type="xsd:nonNegativeInteger" use="required" />
			<xsd:attribute name="prefix" type="xsd:string" use="optional" />
			<xsd:attribute name="suffix" type="xsd:string" use="optional" />
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="date-sequence">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:ID" use="required" />
			<xsd:attribute name="ref-redisson" type="xsd:string" use="required" />
			<xsd:attribute name="key" type="xsd:string" use="required" />
			<xsd:attribute name="length" type="xsd:nonNegativeInteger" use="required" />
			<xsd:attribute name="prefix" type="xsd:string" use="optional" />
			<xsd:attribute name="suffix" type="xsd:string" use="optional" />
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="reset-sequence">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="ref-sequences" minOccurs="0" maxOccurs="1">
					<xsd:complexType>
						<xsd:all>
							<xsd:element ref="beans:list" />
						</xsd:all>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="id" type="xsd:ID" use="required" />
			<xsd:attribute name="ref-task-scheduler" type="xsd:string" use="required" />
			<xsd:attribute name="cron" type="xsd:string" use="optional" />
		</xsd:complexType>
	</xsd:element>
	
</xsd:schema>