blue-redis/blue-redis-spring/src/main/resources/META-INF/redis.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xsd:schema xmlns="http://blue.com/schema/redis"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="http://blue.com/schema/redis"
            elementFormDefault="qualified" attributeFormDefault="unqualified">
	
	<xsd:import namespace="http://www.springframework.org/schema/beans" />
	
	<xsd:element name="client">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:ID" use="required" />
			<xsd:attribute name="broker" type="xsd:string" use="required" />
			<xsd:attribute name="ref-codec" type="xsd:string" use="optional" />
			<xsd:attribute name="mode" type="RedisConnectionMode" default="SINGLE" />
			<xsd:attribute name="master-name" type="xsd:string" use="optional" />
			<xsd:attribute name="database" type="xsd:string" default="0" />
			<xsd:attribute name="password" type="xsd:string" use="optional" />
			<xsd:attribute name="timeout-millis" type="xsd:string" default="5000" />
			<xsd:attribute name="subscription-connection-pool-size" type="xsd:string" default="16" />
			<xsd:attribute name="connection-pool-size" type="xsd:string" default="32" />
			<xsd:attribute name="retry" type="xsd:string" default="3" />
		</xsd:complexType>
	</xsd:element>
	
	<xsd:simpleType name="RedisConnectionMode">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="SINGLE" />
			<xsd:enumeration value="SENTINEL" />
			<xsd:enumeration value="CLUSTER" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:element name="fastjson-codec">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:ID" use="required" />
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="producer">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:ID" use="required" />
			<xsd:attribute name="ref-redis-client" type="xsd:string" use="required" />
			<xsd:attribute name="ref-producer-listener" type="xsd:string" use="optional" />
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="consumer">
		<xsd:complexType>
			<xsd:choice minOccurs="1" maxOccurs="unbounded">
				<xsd:element ref="listener" />
			</xsd:choice>
			<xsd:attribute name="id" type="xsd:ID" use="required" />
			<xsd:attribute name="ref-redis-client" type="xsd:string" use="required" />
			<xsd:attribute name="ref-executor" type="xsd:string" use="optional" />
			<xsd:attribute name="ref-exception-handler" type="xsd:string" use="optional" />
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="listener">
		<xsd:complexType>
			<xsd:attribute name="topic" type="xsd:string" use="required" />
			<xsd:attribute name="multi-thread" type="xsd:boolean" default="true" />
			<xsd:attribute name="ref-listener" type="xsd:string" use="required" />
			<xsd:attribute name="ref-executor" type="xsd:string" use="optional" />
			<xsd:attribute name="ref-exception-handler" type="xsd:string" use="optional" />
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="lock">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:ID" use="required" />
			<xsd:attribute name="ref-redis-client" type="xsd:string" use="required" />
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="lock-advice">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:ID" use="required" />
			<xsd:attribute name="ref-redis-client" type="xsd:string" use="required" />
		</xsd:complexType>
	</xsd:element>
	
	<xsd:element name="sequence">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:ID" use="required" />
			<xsd:attribute name="ref-redis-client" type="xsd:string" use="required" />
			<xsd:attribute name="key" type="xsd:string" use="required" />
			<xsd:attribute name="mode" type="RedisSequenceMode" default="ATOMIC" />
			<xsd:attribute name="length" type="xsd:string" default="8" />
			<xsd:attribute name="prefix" type="xsd:string" use="optional" />
			<xsd:attribute name="suffix" type="xsd:string" use="optional" />
		</xsd:complexType>
	</xsd:element>
	
	<xsd:simpleType name="RedisSequenceMode">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="ATOMIC" />
			<xsd:enumeration value="DATE" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:element name="cache">
		<xsd:complexType>
			<xsd:attribute name="id" type="xsd:ID" use="required" />
			<xsd:attribute name="ref-redis-client" type="xsd:string" use="required" />
			<xsd:attribute name="prefix" type="xsd:string" use="required" />
			<xsd:attribute name="mode" type="RedisCacheMode" default="REDIS" />
			<xsd:attribute name="ttl" type="xsd:string" default="600000" />
			<xsd:attribute name="local-ttl" type="xsd:string" default="60000" />
			<xsd:attribute name="local-max-size" type="xsd:string" default="1000" />
			<xsd:attribute name="timeout" type="xsd:string" default="5000" />
			<xsd:attribute name="retry" type="xsd:string" default="2" />
			<xsd:attribute name="ref-loader" type="xsd:string" use="optional" />
			<xsd:attribute name="ref-writer" type="xsd:string" use="optional" />
		</xsd:complexType>
	</xsd:element>
	
	<xsd:simpleType name="RedisCacheMode">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="REDIS" />
			<xsd:enumeration value="LOCAL_REDIS" />
		</xsd:restriction>
	</xsd:simpleType>
	
	<xsd:element name="cache-manager">
		<xsd:complexType>
			<xsd:choice minOccurs="0" maxOccurs="unbounded">
				<xsd:element ref="cache-config" />
			</xsd:choice>
			<xsd:attribute name="id" type="xsd:ID" use="required" />
			<xsd:attribute name="ref-redis-client" type="xsd:string" use="required" />
			<xsd:attribute name="prefix" type="xsd:string" use="required" />
			<xsd:attribute name="mode" type="RedisCacheMode" default="REDIS" />
			<xsd:attribute name="ttl" type="xsd:string" />
			<xsd:attribute name="local-ttl" type="xsd:string" />
			<xsd:attribute name="local-max-size" type="xsd:string" />
			<xsd:attribute name="timeout" type="xsd:string" />
		</xsd:complexType>
	</xsd:element>

	<xsd:element name="cache-config">
		<xsd:complexType>
			<xsd:attribute name="name" type="xsd:string" use="required" />
			<xsd:attribute name="mode" type="RedisCacheMode" />
			<xsd:attribute name="ttl" type="xsd:string" />
			<xsd:attribute name="local-ttl" type="xsd:string" />
			<xsd:attribute name="local-max-size" type="xsd:string" />
			<xsd:attribute name="timeout" type="xsd:string" />
		</xsd:complexType>
	</xsd:element>
	
</xsd:schema>